<%- include('navLink.html', { title: 'Authentication Example' }) -%>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2><%= title %></h2>
  <form >
    <input type="hidden" value="<%= user.pid %>" name="pid">
    <div class="form-group">
      <label for="pname">Product Name:</label>
      <input type="text" class="form-control" id="pname" placeholder="Enter Product Name" value="<%= user.pname %>" name="pname" required>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="text" class="form-control" id="price" placeholder="Enter Price" value="<%= user.price %>" name="price" required>
    </div>
    <div class="form-group">
      <label for="description">description:</label>
      <input type="text" class="form-control" id="description" placeholder="Enter description" value="<%= user.description %>" name="description" required>
    </div>
    <!-- <div class="form-group">
        <label for="phone">Password:</label>
        <input type="text" class="form-control" id="pwd" placeholder="Enter Password" value="<%= user.Password %>" name="Password" required>
      </div> -->
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>
  $('#submit').on("click",function(){
    const userId =$('input[name="pid"]').val();
    const data={
      pname : $('input[name="pname"]').val(),
      price :$('input[name="price"]').val(),
      description :$('input[name="description"]').val()
    };
  $.ajax({
    url:`http://localhost:3000/api/v1/user/product/${userId}`,
    type: "POST",
    headers:{
      token:"",
    },
    data,
    success:function(response,status){
      alert("Successfully edited the Information");
      window.location.href='/product';
      console.log({response,status});
    },
    error : function(error,status){
      console.log({error,status});
    },
    });
  });
</script>
 
</body>
</html>